In [15]:
import numpy as np
import pandas as pd

In [16]:
obj = pd.Series(np.arange(5.0),index=['a','b','c','d','e'])
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

# 删除某一（几）行

Series

In [17]:
new_obj = obj.drop('c')
print(new_obj)

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [18]:
new_obj = obj.drop(['a','c'])
print(new_obj)

b    1.0
d    3.0
e    4.0
dtype: float64

DataFrame

In [19]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
print(data)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [20]:
# 法1
print(data.drop(['Ohio','Utah']))

          one  two  three  four
Colorado    4    5      6     7
New York   12   13     14    15

In [21]:
# 法2
print(data.drop(['Ohio','Utah'],axis=0))

          one  two  three  four
Colorado    4    5      6     7
New York   12   13     14    15

In [22]:
# 法3
print(data.drop(['Ohio','Utah'],axis='index'))

          one  two  three  four
Colorado    4    5      6     7
New York   12   13     14    15

# 删除某一（几）列

In [23]:
# 法1
print(data.drop(['one','three'],axis=1))

          two  four
Ohio        1     3
Colorado    5     7
Utah        9    11
New York   13    15

In [24]:
# 法2
print(data.drop(['one','three'],axis='columns'))

          two  four
Ohio        1     3
Colorado    5     7
Utah        9    11
New York   13    15

# 直接对源对象进行修改

In [26]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
print(data)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [28]:
data.drop(['Ohio','New York'], inplace=True)
print(data)

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11